[submodule "godwoken-examples"]
	path = tools
	url = https://github.com/Flouse/godwoken-examples
	branch = contracts
[submodule "testcases/godwoken-polyjuice-compatibility-examples"]
	path = testcases/godwoken-polyjuice-compatibility-examples
	url = https://github.com/honestgoing/godwoken-polyjuice-compatibility-examples.git
[submodule "testcases/pancakeswap-contracts-godwoken"]
	path = testcases/pancakeswap-contracts-godwoken
	url = https://github.com/honestgoing/pancakeswap-contracts-godwoken.git
[submodule "testcases/lending-contracts"]
	path = testcases/lending-contracts
	url = https://github.com/Flouse/godwoken-test.git
[submodule "testcases/gw-fee-test"]
	path = testcases/gw-fee-test
	url = https://github.com/RetricSu/gw-fee-test.git
[submodule "testcases/godwoken-scripts-tests"]
	path = testcases/godwoken-scripts-tests
	url = https://github.com/classicalliu/godwoken-scripts-tests
