target/
build/
dist/
/cache/*.json
error.log

.env
/configs/godwoken-config.toml
/configs/scripts-deploy-result.json

/*indexer-data*/
/*-cli*
/kicker/

.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/settings.json

.idea/

node_modules/
