target/
build/
/cache/*.json
error.log

.env
/configs/godwoken-config.toml
/configs/scripts-deploy-result.json
/configs/lumos-config.json 

/*indexer-data*/
/*-cli*

.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/settings.json
